<div class="card text-center">
  <div class="card-header">
    LOGIN
  </div>
  <div class="card-body">
    <form method="POST" action="/login">
      <div class="input-group mb-3">
        <span
          class="input-group-text"
          id="inputGroup-sizing-default"
        >Username</span>
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          name="username"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span
          class="input-group-text"
          id="inputGroup-sizing-default"
        >Password</span>
        <input
          type="password"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          name="password"
          required
        />
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button
          type="submit"
          class="btn btn-sm btn-outline-primary"
        >LOGIN</button>
      </div>
    </form>
  </div>
</div>